.listBox {
    .itemLi {
        box-shadow: 1px 1px 7px #eee;
        margin-bottom: 4vh;
        font-size: 16px;
        padding: 2vh;
        list-style: none;
        margin-left: 30px;
        margin-right: 30px;
    }
}
